<div class="command"><slot /></div>

<style>
  .command {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--sl-color-gray-5);
    background-color: var(--sl-color-black);
    font-family: var(--sl-font-system-mono);
    padding: 14px;
  }
</style>
