---
import { Aside } from '@astrojs/starlight/components';
---

<Aside type="caution" title="Premium Required">
  This feature requires an active subscription to
  <b><a href="/setup/premium">Engauge Premium</a></b>.
</Aside>
